$element-top-margin: .5rem !default;
$element-bottom-margin: ($element-top-margin*2)/3 !default;
$progress-bar-color: #999 !default;


// Progress Bar
.progress {
  position: absolute;
  top: 46px;
  height: 4px;
  display: block;
  width: 100%;
  background-color: $brand-primary;
  border-radius: 0px;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  overflow: hidden;

  &.color-success {
    background-color: $brand-success;
  }
  &.color-info {
    background-color: $brand-info;
  }
  &.color-warning {
    background-color: $brand-warning;
  }
  &.color-danger {
    background-color: $brand-danger;
  }

  .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $progress-bar-color;
    transition: width .3s linear;
  }
  .indeterminate {
    background-color: $progress-bar-color;
    &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left:0;
      bottom: 0;
      will-change: left, right;
      // Custom bezier
      animation: indeterminate 2.1s cubic-bezier(0.650, 0.815, 0.735, 0.395) infinite;

    }
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left:0;
      bottom: 0;
      will-change: left, right;
      // Custom bezier
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
      animation-delay: 1.15s;
    }
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right:100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}