body {
  overflow-x: hidden;
}

textarea { resize: vertical; }

.padding {
  &.not {
    padding: 0;
  }
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #FFFFFF !important;
  color: #555 !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #555555 !important;
}

.app-root {

  .app-sidebar-main {
    display: block;
    height: 100vh;
    position: fixed;
    width: calc(100% / 6);
    z-index: 1;
  }

  .app-main {
    margin-top: 50px;

    .navBarTop {
      position: fixed;
      width: calc(100% - 100% / 6);
      top: 0;
      z-index: 1;
    }

    > .page-header {
      margin: 0 0 20px;

      .page-title {
        padding-left: 15px;
      }
    }

    > div[ui-view] {
      background-color: #e4e5e6;
      padding: 25px 25px 0 25px;
      position: relative;
      top: 0;
      min-height: calc(100vh - 252px);

      > ui-view {
        position: relative;
        top: -66px;
        display: block;
      }
    }

    > footer {
      display: block;
      width: 100%;
      clear: both;
      position: relative;
      min-height: 50px;
      padding: 0 1rem;
      line-height: 50px;
      color: #151b1e;
      background: #f8f9fa;
      border-top: 1px solid #d1d4d7;
    }
  }
}
