
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item " ui-sref="app.setting.general" ui-sref-active="active">Общие настройки</a>
            <a href="#" class="list-group-item">Настройки системы</a>
            <a href="#" class="list-group-item">Настройки сервера</a>
            <a href="#" class="list-group-item">Настройки кэша</a>
            <a href="#" class="list-group-item">Настройка почты</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-align-justify" aria-hidden="true"></i> Список</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-editable">
                        <thead>
                        <tr>
                            <th width="30%">Name</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Название сайта</td>
                            <td class="edit">
                                <a href="#" editable-text="form.name" onbeforesave="update('name', $data)">
                                    {{ form.name || 'Empty' }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Краткое описание</td>
                            <td class="edit">
                                <a href="#" editable-text="form.description" onbeforesave="update('description', $data)">
                                    {{ form.description || 'Empty' }}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>