<div class="panel panel-default" ng-cloak>
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Тег</h3>
    </div>
    <div class="panel-body">
        <form name="ngForm" ng-submit="submit()" class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" class="form-control" ng-model="form.name" required>
                    <span class="help-block small" ng-repeat="error in errors.name">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Алиас</label>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="form.autoSlug" ng-true-value="1" ng-false-value="0">
                            </span>
                        <input type="text" class="form-control" ng-model="form.slug" ng-disabled="form.autoSlug">
                    </div>
                    <span class="help-block small" ng-repeat="error in errors.slug">{{error}}</span>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ui-sref="app.tag.list">Закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.tag.form', -1)">Сохранить</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.tag.list')">Сохранить и закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.tag.form')">Сохранить и создать</button>
                    </div>
                    <div class="btn-group" role="group" ng-if="form.id">
                        <button type="button" class="btn btn-warning" ng-click="destroy()">Удалить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>