<div class="panel panel-default" ng-cloak>
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Пост</h3>
    </div>
    <div class="panel-body">
        <form name="ngForm" ng-submit="submit()" class="row" enctype="multipart/form-data">

            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Общее">
                    <div class="col-md-9">
                        <br>
                        <div class="form-group">
                            <label>Название</label>
                            <input type="text" class="form-control" ng-model="form.name" required>
                            <span class="help-block small" ng-repeat="error in errors.name">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Категория</label>
                            <select class="form-control" ng-model="form.category_id" required convert-to-number>
                                <option value="0">Без категории</option>
                                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                            </select>
                            <span class="help-block small" ng-repeat="error in errors.category_id">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Теги</label>
                            <ui-select multiple ng-model="form.tags" theme="bootstrap" ng-disabled="0" close-on-select="false" title="Выберите тег">
                                <ui-select-match placeholder="Выберите тег...">{{$item.name}}</ui-select-match>
                                <ui-select-choices group-by="someGroupFn" repeat="tag in tags | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="tag.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Краткое описания</label>
                            <textarea class="form-control" rows="4" ng-model="form.short_desc"></textarea>
                            <span class="help-block small" ng-repeat="error in errors.short_desc">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Алиас</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="form.autoSlug" ng-true-value="1" ng-false-value="0">
                            </span>
                                <input type="text" class="form-control" ng-model="form.slug" ng-disabled="form.autoSlug">
                            </div>
                            <span class="help-block small" ng-repeat="error in errors.slug">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea class="form-control" rows="3" ui-tinymce="tinymceOptions" ng-model="form.content"></textarea>
                            <span class="help-block small" ng-repeat="error in errors.content">{{error}}</span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default" heading="Публикация" is-open="1">
                                <div class="form-group">
                                    <div class="btn-group btn-group-justified">
                                        <label class="btn" ng-class="{'btn-primary':form.status,'btn-default':!form.status}" ng-model="form.status" uib-btn-radio="1">Опубликовано</label>
                                        <label class="btn" ng-class="{'btn-primary':!form.status,'btn-default':form.status}" ng-model="form.status" uib-btn-radio="0">Не опубликовано</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Изображения</label>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img ng-if="form.image.length > 5" ng-src="{{form.image}}" class="img-thumbnail">
                                    <input type="file" ng-model="form.imageFile" files-input name="image" >
                                    <span class="help-block small" ng-repeat="error in errors.imageFile">{{error}}</span>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="SEO / Мета-данные">
                    <div class="col-md-6">
                        <br>
                        <div class="form-group">
                            <label>Мета-тег Title</label>
                            <input type="text" class="form-control" ng-model="form.meta_title" maxlength="255">
                            <span class="help-block small">
                                <span>Рекомендовано: 70 символов.</span>
                                <span class="pull-right">Вы использовали
                                    <b ng-class="{'text-danger':form.meta_title.length>70,'text-success':form.meta_title.length<70}">{{form.meta_title.length}}</b>
                                </span>
                            </span>
                            <span class="help-block small" ng-repeat="error in errors.meta_title">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Мета-тег Description</label>
                            <textarea class="form-control" rows="4" ng-model="form.meta_description" maxlength="255"></textarea>
                            <span class="help-block small">
                                <span>Рекомендовано: 156 символов.</span>
                                <span class="pull-right">Вы использовали
                                    <b ng-class="{'text-danger':form.meta_description.length>156,'text-success':form.meta_description.length<156}">{{form.meta_description.length}}</b>
                                </span>
                            </span>
                            <span class="help-block small" ng-repeat="error in errors.meta_description">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Мета-тег Keywords</label>
                            <textarea class="form-control" rows="4" ng-model="form.meta_keyword" maxlength="255"></textarea>
                            <span class="help-block small" ng-repeat="error in errors.meta_keyword">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <p class="lead">Предварительный просмотр результатов поиска</p>
                        <blockquote class="google">
                            <a class="h3" href="#">{{form.meta_title|strLimit:70:'...'}}</a>
                            <a ng-if="form.slug.length" class="cite" href="#">{{HOST+'/post/'+form.slug|strLimit:60:'...'}}</a>
                            <p class="desc">{{form.meta_description|strLimit:156:'...'}}</p>
                        </blockquote>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Доступность">
                    <div class="col-md-6">
                        <br>
                        <div class="form-group">
                            <label>Мета-тег Robots</label>
                            <select class="form-control" ng-model="form.meta_robots" convert-to-number>
                                <option value="0">По умолчанию</option>
                                <option value="1">Index, Follow</option>
                                <option value="2">No index, follow</option>
                                <option value="3">Index, No follow</option>
                                <option value="4">No index, no follow</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Начало публикации</label>
                            <input type="text" class="form-control" disabled/>
                        </div>
                        <div class="form-group">
                            <label>Завершение публикации</label>
                            <input type="text" class="form-control" disabled/>
                        </div>
                        <div class="form-group">
                            <label>Кол-во просмотров</label>
                            <input type="text" class="form-control" value="{{form.hits}}" disabled/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <div class="form-group">
                            <label>Дата создания</label>
                            <input type="text" class="form-control" ng-model="form.created_at" disabled/>
                            <span class="help-block small" ng-repeat="error in errors.created_at">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Дата модификации</label>
                            <input type="text" class="form-control" ng-model="form.updated_at" disabled/>
                            <span class="help-block small" ng-repeat="error in errors.updated_at">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Автор</label>
                            <input type="text" class="form-control" value="{{form.author.first_name}} {{form.author.last_name}}" disabled/>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="col-md-12">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ui-sref="app.post.list">Закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.post.form', -1)">Сохранить</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.post.list')">Сохранить и закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.post.form')">Сохранить и создать</button>
                    </div>
                    <div class="btn-group" role="group" ng-if="form.id">
                        <button type="button" class="btn btn-warning" ng-click="destroy()">Удалить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>