<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-align-justify" aria-hidden="true"></i> Список статей</h3>
        <div class="action">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default" ui-sref="app.post.form({id:0})">
                    Добавить новый пост
                </button>
            </div>
            <div class="btn-group btn-group-xs" uib-dropdown dropdown-append-to-body ng-if="result.total">
                <button id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle>
                    {{perPage}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right per-page" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" ng-repeat="v in [15,25,50,100]"><a href="" ng-click="init(1, v)">{{v}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body padding not" ng-cloak>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Название</th>
                <th class="text-right">Автор</th>
                <th width="1%" class="text-right">Cтатус</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tr-repeat" ng-repeat="item in result.data">
                <td>
                    <a ui-sref="app.post.form({id:item.id})">{{item.name|strLimit:100}}</a>
                </td>
                <td class="text-right">
                    {{item.author.first_name}} {{item.author.last_name}}
                </td>
                <td class="text-right">
                    <i class="fa" ng-class="{'fa-check':item.status,'fa-times':item.status==0}" aria-hidden="true"></i>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" class="text-center">
                    <ul uib-pagination ng-if="result.total"
                        total-items="result.total"
                        items-per-page="perPage"
                        ng-model="currentPage"
                        ng-change="init(this.currentPage)"
                        max-size="10"
                        class="pagination-sm"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>