<div class="list-group">
    <a ui-sref="app.category.list" ui-sref-active="{active: 'app.category.*'}" class="list-group-item ripple">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Категории
    </a>
    <a ui-sref="app.post.list" ui-sref-active="{active: 'app.post.*'}" class="list-group-item ripple">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i> Посты
    </a>
    <a ui-sref="app.page.list" ui-sref-active="{active: 'app.page.*'}" class="list-group-item ripple">
        <i class="fa fa-file-o" aria-hidden="true"></i> Pages
    </a>
    <a ui-sref="app.tag.list" ui-sref-active="{active: 'app.tag.*'}" class="list-group-item ripple">
        <i class="fa fa-tags" aria-hidden="true"></i> Теги
    </a>
    <a ui-sref="app.user.list" ui-sref-active="{active: 'app.user.*'}" class="list-group-item ripple">
        <i class="fa fa-users" aria-hidden="true"></i> Users
    </a>
    <a ui-sref="app.appearance.menu" ui-sref-active="{active: 'app.appearance.*'}" class="list-group-item ripple">
        <i class="fa fa-wrench" aria-hidden="true"></i> Внешний вид
    </a>
    <a ui-sref="app.setting.general" ui-sref-active="{active: 'app.setting.*'}" class="list-group-item ripple">
        <i class="fa fa-cogs" aria-hidden="true"></i> Настройки
    </a>
</div>
