<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-align-justify" aria-hidden="true"></i> Список</h3>
    </div>
    <div class="panel-body">
        <table class="table table-editable">
            <thead>
            <tr>
                <th width="30%">Название</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Название сайта</td>
                <td class="edit">
                    <a href="#" editable-text="form.name" onbeforesave="update('name', $data)">
                        {{ form.name || 'Empty' }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Краткое описание</td>
                <td class="edit">
                    <a href="#" editable-text="form.description" onbeforesave="update('description', $data)">
                        {{ form.description || 'Empty' }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>