<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">404 Not Found</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Sorry, an error has occured, Requested page not found!</p>
    </div>
</div>