<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item " ui-sref="app.appearance.menu" ui-sref-active="{active: 'app.appearance.menu*'}">Меню</a>
            <a class="list-group-item " ui-sref="app.appearance.widget" ui-sref-active="active">Виджеты</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div ui-view="panel"></div>
        </div>
    </div>
</div>