<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown"  uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        {{user.first_name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" >
                        <li><a ui-sref="app.user.profile"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <progress></progress>
</nav>