<div class="panel panel-default" ng-cloak>
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Страница</h3>
    </div>
    <div class="panel-body">
        <form name="ngForm" ng-submit="submit()" class="row" enctype="multipart/form-data">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" class="form-control" ng-model="form.name" required>
                    <span class="help-block small" ng-repeat="error in errors.name">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Алиас</label>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="form.autoSlug" ng-true-value="1" ng-false-value="0">
                            </span>
                        <input type="text" class="form-control" ng-model="form.slug" ng-disabled="form.autoSlug">
                    </div>
                    <span class="help-block small" ng-repeat="error in errors.slug">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Описание</label>
                    <textarea class="form-control" rows="3" ui-tinymce="tinymceOptions" ng-model="form.content"></textarea>
                    <span class="help-block small" ng-repeat="error in errors.content">{{error}}</span>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ui-sref="app.page.list">Закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.page.form', -1)">Сохранить</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.page.list')">Сохранить и закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.page.form')">Сохранить и создать</button>
                    </div>
                    <div class="btn-group" role="group" ng-if="form.id" permission permission-only="['canAdmin']">
                        <button type="button" class="btn btn-warning" ng-click="destroy()">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" heading="Публикация" is-open="1">
                        <div class="btn-group btn-group-justified">
                            <label class="btn" ng-class="{'btn-primary':form.status,'btn-default':!form.status}" ng-model="form.status" uib-btn-radio="1">Опубликовано</label>
                            <label class="btn" ng-class="{'btn-primary':!form.status,'btn-default':form.status}" ng-model="form.status" uib-btn-radio="0">Не опубликовано</label>
                        </div>
                        <div class="form-group">
                            <label>Дата создания</label>
                            <input type="text" class="form-control" ng-model="form.created_at" disabled/>
                            <span class="help-block small" ng-repeat="error in errors.created_at">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Дата модификации</label>
                            <input type="text" class="form-control" ng-model="form.updated_at" disabled/>
                            <span class="help-block small" ng-repeat="error in errors.updated_at">{{error}}</span>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" heading="Мета-тег">
                        <div class="form-group">
                            <label>Мета-тег Title</label>
                            <textarea class="form-control" rows="4" ng-model="form.meta_title" maxlength="255"></textarea>
                            <span class="help-block small" ng-repeat="error in errors.meta_title">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Мета-тег Keywords</label>
                            <textarea class="form-control" rows="4" ng-model="form.meta_keyword" maxlength="255"></textarea>
                            <span class="help-block small" ng-repeat="error in errors.meta_keyword">{{error}}</span>
                        </div>
                        <div class="form-group">
                            <label>Мета-тег Description</label>
                            <textarea class="form-control" rows="4" ng-model="form.meta_description" maxlength="255"></textarea>
                            <span class="help-block small" ng-repeat="error in errors.meta_description">{{error}}</span>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </form>
    </div>
</div>