<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-align-justify" aria-hidden="true"></i> Список</h3>
        <div class="action">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default" ui-sref="app.appearance.menuForm({id:0})">
                    Создать новое меню
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-editable">
            <thead>
            <tr>
                <th width="1%" sort="'id'" ng-model="sort">ID</th>
                <th width="30%" sort="'name'" ng-model="sort">Название</th>
                <th width="1%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in result.data">
                <td>
                    {{item.id}}
                </td>
                <td>
                    <a ui-sref="app.appearance.menuItem({id:item.id})">{{item.name|strLimit:100}}</a>
                </td>
                <td class="text-right">
                    <a ui-sref="app.appearance.menuForm({id:item.id})">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-center">
                    <ul uib-pagination ng-if="result.total > result.per_page"
                        total-items="result.total"
                        items-per-page="result.per_page"
                        ng-model="result.current_page"
                        ng-change="init(result.current_page)"
                        max-size="10"
                        class="pagination-sm"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>