<div class="panel panel-default" ng-cloak>
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Пункт меню</h3>
    </div>
    <div class="panel-body">
        <form name="ngForm" ng-submit="submit()" enctype="multipart/form-data">
            <div class="form-group">
                <label>Название</label>
                <input type="text" class="form-control" ng-model="form.name" required autofocus>
                <span class="help-block small" ng-repeat="error in errors.name">{{error}}</span>
            </div>
            <div class="form-group">
                <label>url</label>
                <input type="text" class="form-control" ng-model="form.url" required autofocus>
                <span class="help-block small" ng-repeat="error in errors.url">{{error}}</span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="form.status" ng-true-value="1" ng-false-value="0"> Статус
                </label>
            </div>
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ui-sref="app.appearance.menuItem({id: menu.id})">Закрыть</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-info">Сохранить</button>
                </div>
                <div class="btn-group" role="group" ng-if="form.id" permission permission-only="['canAdmin']">
                    <button type="button" class="btn btn-warning" ng-click="destroy()">Удалить</button>
                </div>
            </div>
        </form>
    </div>
</div>