<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-align-justify" aria-hidden="true"></i> Пункты меню</h3>
        <div class="action">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default" ui-sref="app.appearance.menuItemForm({parent_id:menuId, id:0})">
                    Создать пункт меню
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-editable">
            <thead>
            <tr>
                <th>Название</th>
                <th width="1%"></th>
                <th width="1%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in result">
                <td>
                    {{item.name}}
                </td>
                <td>
                    <i class="fa" ng-class="{'fa-check':item.status,'fa-times':item.status==0}" aria-hidden="true"></i>
                </td>
                <td class="text-right">
                    <a ui-sref="app.appearance.menuItemForm({parent_id:menuId, id:item.id})">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>