<div class="panel panel-default" ng-cloak>
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Категория</h3>
    </div>
    <div class="panel-body">
        <form name="ngForm" ng-submit="submit()" class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" class="form-control" ng-model="form.first_name" required>
                    <span class="help-block small" ng-repeat="error in errors.first_name">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input type="text" class="form-control" ng-model="form.last_name" required>
                    <span class="help-block small" ng-repeat="error in errors.email">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" ng-model="form.email" required>
                    <span class="help-block small" ng-repeat="error in errors.email">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Роль</label>
                    <select class="form-control" ng-model="form.role_id" convert-to-number>
                        <option ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</option>
                    </select>
                    <span class="help-block small" ng-repeat="error in errors.role_id">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="form.password">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="createPassword()">Создать пароль</button>
                        </span>
                    </div>

                    <span class="help-block small" ng-repeat="error in errors.password">{{error}}</span>
                </div>
                <div class="form-group">
                    <label>Повтор пароля</label>
                    <input type="text" class="form-control" ng-model="form.password_confirmation">
                    <span class="help-block small" ng-repeat="error in errors.password_confirmation">{{error}}</span>
                </div>

                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ui-sref="app.user.list">Закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.user.form', -1)">Сохранить</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.user.list')">Сохранить и закрыть</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-info" ng-click="setActon('app.user.form')">Сохранить и создать</button>
                    </div>
                    <div class="btn-group" role="group" ng-if="form.id">
                        <button type="button" class="btn btn-warning" ng-click="destroy()">Удалить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>